.main{
    border: solid 5px gray;
    border-radius: 25px;
    width: 360px;
    margin: 0 auto;
    margin-top: 70px;
    background-color: black;
}
.main1{
    width: 330px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 15px;
}
.result{
    width: 100%;
    height: 60px;
    background-color: rgb(144, 174, 175);
    margin-bottom: 8px;
    border-radius: 15px;
}

.btn{
    width: 24%;
    margin-top:   10px;
    margin-bottom: 1px;
}

